{% extends 'admin/base.html.twig' %}

{% block body %}
    <!--Main layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <!-- Section: Main chart -->
            <section class="mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Next race: {{ nextRace.grandPrix }}</h5>
                        <h6 class="card-subtitle  text-muted">{{ nextRace.date|date('Y-m-d') }}</h6>
                    </div>
                </div>
            </section>
            <!-- Section: Main chart -->
        </div>
    </main>
{% endblock %}
